.container-itempage {
  height: 100vh;
  flex: 1;
  position: relative;
}

.item-name {
  font-weight: bold;
  font-size: 1.5rem;
}

.sidebar {
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 2vh;
}

.item-pic {
  width: 100%;
}

.images {
  width: 100%;
}

.item_and_desc {
  border: 1px solid black;
  display: flex;
}

.size-buttons {
  display: flex;
  gap: 1vw;
}

.size-container {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.item-button {
  all: unset;
  cursor: pointer; /* Adds the hand cursor when hovering */
  padding: 2% 4%;
  border: 1px solid black;
  text-align: center;
  transition: transform 0.2s ease; /* Smooth animation */
  border-radius: 3px;
}
.item-button:hover {
  transform: scale(1.1); /* Enlarges the button by 10% */
}

.item-button.pressed {
  box-shadow: 2px 2px 2px black;
}
button {
  all: unset;
}

.quantity-button {
  border: 1px solid black;
  width: fit-content;
  display: flex;
  gap: 2vw;
  font-size: 1em;
  padding: 2%;
  cursor: pointer;
  border-radius: 5px;
  padding-left: 4%;
  padding-right: 4%;
}

.addtocart {
  display: flex;
  text-align: center;
  justify-content: center;
  border: 1px solid black;
  cursor: pointer;
  padding: 4%;
  background-color: black;
  color: white;
  border-radius: 5px;
}

.quan-plus,
.quan-min {
  height: auto;
  width: 20px;
  text-align: center;
}

.quantity-con2 {
  width: 50%;
  text-align: center;
  justify-content: center;
  display: flex;
}

.button1 {
  background-color: blue;
  width: 5vw;
  height: auto;
  text-align: center;
}

.quantity-container {
  display: flex;
  flex-direction: column;
  gap: 1vh;
}

.side-con {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.sizing-con {
  border-bottom: 1px solid rgb(182, 181, 181);
  padding: 20px;
}

.sizing-arrow {
  display: flex;
  justify-content: space-between;
}

.pictures {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px;
  gap: 1vh;
}
.side-pic {
  width: 5vw;
  height: auto;
  border-radius: 2px;
}

.item-page-container {
  display: flex;
  flex-direction: column;
}

footer {
  position: relative;
}
