.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  padding-left: 2vw;
  padding-right: 2vw;
  border-bottom: 1px solid grey;
  margin-bottom: 10px;
}

.cart-count {
  display: flex;
  gap: 6px;
  justify-content: center;
  align-items: center;
}

.cart-icon {
  width: 25px;
  height: auto;
}
